<div class="container">
  <h1>Book List <button class="btn btn-success" (click)="logout()">Logout</button></h1>

  <br>
  <h4>[Access Token]</h4>
  <pre> {{tokenInfo | json }} </pre>
  <p> Exp Date: {{expTime | date : 'yyyy-MM-dd HH:mm:ss'}}</p>
  <b> is Expired? : {{isExpired}}</b>

  <br><br>
  <h4>[Refresh Token]</h4>
  <pre> {{refreshToken}} </pre>
  

  <br><br><br>
	<button class="btn btn-primary" (click)="testAPI()">API TEST</button>
	<br>

  <h4>Rx. Test Data</h4>
  {{books | json}}
  <br><br>
  <p> Current:  {{ current |  date : 'yyyy-MM-dd HH:mm:ss'}} </p>
  <p> timeLeft : {{ timeLeft}} 초</p>
</div>
