{{hello}}


<h2>set</h2>
<button (click)="output1()">버튼</button>
<button (click)="output2()">버튼</button>

<div *ngFor="let student of _students1 ">
    <app-set [student]="student" (output)="outputName($event)"></app-set>
</div>

<h1>ngOnChange</h1>
<div *ngFor="let student of _students1">
    <app-ng-on-change [student]='student'></app-ng-on-change> 
</div>

<h1>rxjs</h1>
<button (click)="output3()">버튼</button>
<div *ngFor="let student of _students2">
    <app-rxjs [student]='student' ></app-rxjs> 
</div>

<h1>rxjs2 (pipe, filter)</h1>
<app-rxjs2></app-rxjs2>