<!-- a 링크를 누르면 router=outlet 부분에 컴포넌트 추가 -->
<a routerLink="" routerLinkActive="active">홈</a> &nbsp;
<a routerLink="/arouter" routerLinkActive="active">a router</a>
<router-outlet></router-outlet>
<br><br>
{{hello}}


<h1>set</h1>
<button (click)="output1()">버튼</button>
<button (click)="output2()">버튼</button>

<div *ngFor="let student of _students1 ">
    <app-set [student]="student" (output)='outputName($event)'></app-set>
</div>

<h1>ngOnChange</h1>
<div *ngFor="let student of _students1">
    <app-ng-on-change [student]='student' (output)='outputName($event)'></app-ng-on-change> 
</div>

<h1>rxjs</h1>
<button (click)="output3()">버튼</button>
<div *ngFor="let student of _students2">
    <app-rxjs [student]='student' (output)='outputName($event)'></app-rxjs> 
</div>

<h1>rxjs2 (pipe, filter)</h1>
<app-rxjs2 (output)='outputName($event)'></app-rxjs2>

<h1>GET 요청</h1>
<button (click)='getRequest()'>GET</button>

<h1>POST 요청</h1>
<button (click)='postRequest()'>POST</button>
<br>
<br>
<h1>회원가입</h1>
<button (click)='gotoSignUp()'>회원가입</button>